h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat, Roboto, serif;
}

* {
    font-family: Roboto, serif;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
}

.centeredOnPage {
    display: flex;
    justify-content: center;
    align-items: center;
}